<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input 
                [(ngModel)]="product.name" 
                matInput placeholder="Nome"
                name="name"
            >
        </mat-form-field>
        <mat-form-field>
            <input 
                [(ngModel)]="product.price" 
                matInput placeholder="preço R$"
                name="price"
            >
        </mat-form-field>
    </form>

    <button color="primary" mat-raised-button (click)="updateProduct()">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>


